<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" >MANTRA - Gestion des salariés</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addModal">Ajouter un(e) salarié(e)</button>
        </div>
        <div class="dropdown float-lg-end">
          <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Compétences</button>
          <div class="dropdown-menu">
              <a role="button" data-bs-toggle="modal" data-bs-target="#addSkillModal"><i class="fa fa-plus" aria-hidden="true"> </i> Ajouter</a><br>
              <a role="button" data-bs-toggle="modal" data-bs-target="#deleteSkillModal"><i class="fa fa-remove" aria-hidden="true"></i> Supprimer</a>
          </div>
        </div>
        <div class="d-flex">
        <form [formGroup]='searchForm' (ngSubmit)="searchEmployee(searchForm)" role="search">
          <div class="form-group">
          <input 
          class="form-control" 
          type="search" 
          placeholder="Entrer le nom" 
          aria-label="Search"
          formControlName="search"
          (keyup)="searchEmployee(searchForm)"
          >
          </div>
        </form>
        </div>
    </div>
      
  </div>
</nav>

<!--SEARCH RESULT NOT FOUND MESSAGE-->
<div class="offcanvas-top" *ngIf=searchResultNothing tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="alert alert-danger">
      AUCUN RÉSULTAT TROUVÉ
    </div>
</div>

<!--MAIN PAGE-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div *ngFor="let employee of employees" class="container profile-page">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-5">
                            <div class="profile-image float-md-right"> 
                              <a role="button" (click)=tempsEmployee(employee) data-bs-toggle="modal" data-bs-target="#avatarModal"><img  src={{employee.imageUrl}} alt="Avatar"/></a>
                            </div>
                        </div>
                        <div  class="col-lg-3 col-md-4 col-5" >
                            <h4 class="m-t-0 m-b-0"><strong>{{employee.lastName}} </strong>{{employee.firstName}}</h4>
                            <p class="social-icon m-t-5 m-b-0">
                              <a><strong>{{employee.jobTitle}}</strong></a><br>
                              <a title="Phone" ><i class="fa fa-lg fa-phone" aria-hidden="true"></i> {{employee.phone}}</a><br>
                              <a title="Email" ><i class="fa fa-lg fa-envelope" aria-hidden="true"></i> {{employee.email}}</a><br>
                              <a title="LinkedIn" href={{employee.linkedIn}} target="_blank"><i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i></a>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-5">
                          <p>
                            <span>Contrat:      </span><span>      {{employee.positionType}}</span><br>
                            <span>Date d'entrée: </span><span> {{employee.startDate}}</span><br>
                            <span>Addresse:     </span><span>     {{employee.street}} {{employee.pinCode}} {{employee.city}}</span>
                          </p>
                          <span *ngFor = "let skillList of employee.skill; let isLast=last">
                            {{skillList.comp}}
                            <span *ngIf="!isLast">,</span>
                          </span>
                        </div>
                        <div class="col-lg-3 col-md-1 col-0.5">
                          <div class="dropdown float-lg-end">
                            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <div class="dropdown-menu">
                                <a role="button" data-bs-toggle="modal" data-bs-target="#editModal" (click)=tempEditEmployees(employee) ><i class="fa fa-edit" aria-hidden="true"></i> Modifier</a><br>
                                <a role="button" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)=tempsEmployee(employee) ><i class="fa fa-remove" aria-hidden="true"></i> Supprimer</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
	</div>
</div>

<!-- Add Employee Modal-->
<div class="modal fade modal-fade-scrollable" id="addModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="form-area">
        <form [formGroup]='addForm' (ngSubmit)="addEmployee(addForm)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addModalLabel">Ajouter un nouveau salarié</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)=onClose(addForm)></button>
        </div>
            <div class="form-group">
              <div class="modal-body" type="reset">
                  <label> Civilité</label>
                  <input
                  type="text"
                  placeholder="Civilité"
                  class="form-control"
                  formControlName='civility'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['civility'].errors?.required
                    && addForm.controls['civility'].touched  && addForm.controls['civility'].invalid"
                    >
                    Ce champ est requis
                    </div> 
                  <label> Nom de famille</label>
                  <input
                  type="text"
                  placeholder="Nom de famille"
                  class="form-control"
                  formControlName='lastName'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['lastName'].errors?.required
                    && addForm.controls['lastName'].touched  && addForm.controls['lastName'].invalid"
                    >
                    Ce champ est requis
                    </div> 
                  <label> Prénom</label>
                  <input
                  type="text"
                  placeholder="Prénom"
                  class="form-control"
                  formControlName='firstName'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['firstName'].errors?.required
                    && addForm.controls['firstName'].touched  && addForm.controls['firstName'].invalid"
                    >
                  Ce champ est requis
                  </div>
                  <label> Addresse électronique </label>
                  <input
                  type="email"
                  placeholder="aaaa@domain.com"
                  class="form-control"
                  formControlName='email'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['email'].touched  && addForm.controls['email'].invalid"
                    >
                    <small *ngIf="addForm.controls['email'].errors?.required">Ce champ est requis</small>
                    <small *ngIf="addForm.controls['email'].errors?.pattern">Ce champ n'est pas valid</small>
                  </div>
                  <label> Numéro de contact </label>
                  <input
                  type="text"
                  placeholder="0123456789 ou +3312345678"
                  class="form-control"
                  formControlName='phone'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['phone'].touched  && addForm.controls['phone'].invalid"
                    >
                    <small *ngIf="addForm.controls['phone'].errors?.required">Ce champ est requis</small>
                    <small *ngIf="addForm.controls['phone'].errors?.pattern">Ce champ n'est pas valid. Veuillez utiliser le format 0123456789 ou +33123456789</small>
                    </div><br>
                    <button class="btn btnInfo btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#furtherInfo">
                      Information complémentaire
                    </button>  
                    <div class="collapse"  id="furtherInfo"><br>
                        <label> Date de naissance</label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='dob'
                        >
                        <label> Image URL </label>
                        <input
                        type="text"
                        placeholder="Lien image url..."
                        class="form-control"
                        formControlName='imageUrl'
                        >
                        <label> Fonction </label>
                        <input
                        type="text"
                        placeholder="Développeur, Testeur, etc,"
                        class="form-control"
                        formControlName='jobTitle'
                        >
                        <label> Type de contrat </label>
                        <select class="form-control" formControlName="positionType">
                          <option *ngFor="let list of iteratorPosition" [value]="list">{{list}}</option>
                        </select>
                        <label> Numéro et nom de la rue </label>
                        <input
                        type="text"
                        placeholder="Numéro et nom de la rue"
                        class="form-control"
                        formControlName='street'
                        >
                        <label> Code postal </label>
                        <input
                        type="text"
                        placeholder="Code postal"
                        class="form-control"
                        formControlName='pinCode'
                        >
                        <label> Ville </label>
                        <input
                        type="text"
                        placeholder="Ville"
                        class="form-control"
                        formControlName='city'
                        >
                        <label> Date d'entrée </label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='startDate'
                        >
                        <label> Date de sortie (si connue) </label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='positionType'
                        >
                        <label>Sexe</label>
                        <select class="form-control" formControlName="sex">
                          <option value="Homme">Homme</option>
                          <option value="Femme">Femme</option>
                        </select>
                        <label> LinkedIn </label>
                        <input
                        type="text"
                        placeholder="Lien LinkedIn"
                        class="form-control"
                        formControlName='sex'
                        >
                    </div><br>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=onClose(addForm) >Annuler</button>
              <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid" data-bs-dismiss="modal">Ajouter</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Employee Modal-->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="form-area">
        <form [formGroup]='editForm' (ngSubmit)="editEmployees(editForm)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Modifier</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)=onClose(editForm) aria-label="Close" ></button>
        </div>
            <div class="form-group">
              <div class="modal-body" type="reset">
                  <label> Civilité</label>
                  <input
                  type="text"
                  placeholder="Civilité"
                  class="form-control"
                  formControlName='civility'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="editForm.controls['civility'].errors?.required
                    && editForm.controls['civility'].touched  && editForm.controls['civility'].invalid"
                    >
                    Ce champ est requis
                    </div> 
                  <label> Nom de famille</label>
                  <input
                  type="text"
                  placeholder="Nom de famille"
                  class="form-control"
                  formControlName='lastName'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="editForm.controls['lastName'].errors?.required
                    && editForm.controls['lastName'].touched  && editForm.controls['lastName'].invalid"
                    >
                    Ce champ est requis
                    </div> 
                  <label> Prénom</label>
                  <input
                  type="text"
                  placeholder="Prénom"
                  class="form-control"
                  formControlName='firstName'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="editForm.controls['firstName'].errors?.required
                    && editForm.controls['firstName'].touched  && editForm.controls['firstName'].invalid"
                    >
                  Ce champ est requis
                  </div>
                  <label> Addresse électronique </label>
                  <input
                  type="email"
                  placeholder="aaaa@domain.com"
                  class="form-control"
                  formControlName='email'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="editForm.controls['email'].touched  && editForm.controls['email'].invalid"
                    >
                    <small *ngIf="editForm.controls['email'].errors?.required">Ce champ est requis</small>
                    <small *ngIf="editForm.controls['email'].errors?.pattern">Ce champ n'est pas valid</small>
                  </div>
                  <label> Numéro de contact </label>
                  <input
                  type="text"
                  placeholder="0123456789 ou +3312345678"
                  class="form-control"
                  formControlName='phone'
                  required                >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="editForm.controls['phone'].touched  && editForm.controls['phone'].invalid"
                    >
                    <small *ngIf="editForm.controls['phone'].errors?.required">Ce champ est requis</small>
                    <small *ngIf="editForm.controls['phone'].errors?.pattern">Ce champ n'est pas valid. Veuillez utiliser le format 0123456789 ou +33123456789</small>
                  </div>
                  <div 
                    class="alert alert-danger" 
                    *ngIf="addForm.controls['phone'].touched  && addForm.controls['phone'].invalid"
                    >
                    <small *ngIf="addForm.controls['phone'].errors?.required">Ce champ est requis</small>
                    <small *ngIf="addForm.controls['phone'].errors?.pattern">Ce champ n'est pas valid. Veuillez utiliser le format 0123456789 ou +33123456789</small>
                    </div><br>
                    <button class="btn btnInfo btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#furtherInfo">
                      Information complémentaire
                    </button>
                    <div class="collapse"  id="furtherInfo"><br>
                        <label> Date de naissance</label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='dob'
                        >
                        <label> Image URL </label>
                        <input
                        type="text"
                        placeholder="Lien image url..."
                        class="form-control"
                        formControlName='imageUrl'
                        >
                        <label> Fonction </label>
                        <input
                        type="text"
                        placeholder="Développeur, Testeur, etc,"
                        class="form-control"
                        formControlName='jobTitle'
                        >
                        <label> Type de contrat </label>
                        <select class="form-control" formControlName="positionType">
                          <option *ngFor="let list of iteratorPosition" [value]="list">{{list}}</option>
                        </select>
                        <label> Numéro et nom de la rue </label>
                        <input
                        type="text"
                        placeholder="Numéro et nom de la rue"
                        class="form-control"
                        formControlName='street'
                        >
                        <label> Code postal </label>
                        <input
                        type="text"
                        placeholder="Code postal"
                        class="form-control"
                        formControlName='pinCode'
                        >
                        <label> Ville </label>
                        <input
                        type="text"
                        placeholder="Ville"
                        class="form-control"
                        formControlName='city'
                        >
                        <label> Date d'entrée </label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='startDate'
                        >
                        <label> Date de sortie (si connue) </label>
                        <input
                        type="date"
                        placeholder="JJ/MM/AAAA"
                        class="form-control"
                        formControlName='positionType'
                        >
                        <label>Sexe</label>
                        <select class="form-control" formControlName="sex">
                          <option value="Homme">Homme</option>
                          <option value="Femme">Femme</option>
                        </select>
                        <label> LinkedIn </label>
                        <input
                        type="text"
                        placeholder="Lien LinkedIn"
                        class="form-control"
                        formControlName='linkedIn'
                        >
                      </div>
                      <div><br>
                        <button type="button" class="btn btnInfo btn-light" data-bs-toggle="modal" data-bs-target="#linkSkillToEmployeeModal" (click)=tempSkillAddEmployee()>
                          Associer des comptétences
                        </button>
                      </div>
              </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=onClose(editForm) >Annuler</button>
              <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid" data-bs-dismiss="modal">Modifier</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Employee Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voudriez-vous vraiment supprimer ce salarié ? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=onClose(addForm)>Annuler</button>
        <button type="button" (click)="deleteEmployees()" class="btn btn-primary" data-bs-dismiss="modal" >Confirmer</button>
      </div>
    </div>
  </div>
</div>

<!-- Choose avatar Modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="avatarModalLabel">Avatar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-wrap" data-bs-dismiss="modal">
          <div *ngFor="let list of iteratorImage">
            <p class="choose-image" > 
              <a role="button" (click)=avatarEmployees(list)><img  src={{list}} alt="url"></a>
            </p>
          </div>
      </div>
      <div class="modal-body">
        Cliquer sur l'avatar que vous souhaitez afficher sur votre profile!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Skill Modal-->
<div class="modal fade" id="addSkillModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skillModalLabel" aria-hidden="true">
 <app-skill [selectModal] = "addSkillModal"></app-skill>
</div>

<!-- Link Skill to en Employee Modal-->
<div class="modal fade" id="linkSkillToEmployeeModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skillToEmployeeModalLabel" aria-hidden="true">
  <app-skill [selectModal] = "linkSkillToEmployeeModal" [employeeToLink]='employeeToLink'></app-skill>
 </div>

<!-- Delete Skill Modal-->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skillModalLabel" aria-hidden="true">
  <app-skill [selectModal] = "deleteSkillModal"></app-skill>
 </div>