<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Choose avatar Modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="avatarModalLabel">Avatar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-wrap" data-bs-dismiss="modal">
          <div *ngFor="let list of iteratorImage">
            <p class="choose-image" > 
              <a role="button" (click)=avatarEmployees(list)><img  src={{list}} alt="url"></a>
            </p>
          </div>
      </div>
      <div class="modal-body">
        Cliquer sur l'avatar que vous souhaitez afficher sur votre profile!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Skill Modal-->
<div class="modal fade" id="addSkillModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skillModalLabel" aria-hidden="true">

</div>



<!-- Delete Skill Modal-->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skillModalLabel" aria-hidden="true">

 </div>