<!-- Add Skill Modal-->
<div *ngIf = 'selectModal === "addSkillModal"'>
      <div class="form-area">
        <form [formGroup]='addSkillForm' (ngSubmit)="addSkill(addSkillForm)">
        
          <h1 class="modal-title fs-5" id="addSkillModalLabel">Ajouter des compétences</h1>
        
        <div class="list_skill">
        <div *ngFor="let list of skills; let i = index">
                <a class="btn btn-secondary">
                    {{list.comp}}
                </a>
            </div>
        </div>
        <div class="form-group">

                  <label> Competence</label>
                  <input
                  type="text"
                  placeholder="Java, Python "
                  class="form-control"
                  formControlName='comp'
                  required
                  >
                    <div 
                    class="alert alert-danger" 
                    *ngIf="addSkillForm.controls['comp'].errors?.required
                    && addSkillForm.controls['comp'].touched  && addSkillForm.controls['comp'].invalid"
                    >
                    Ce champ est requis
                    </div><br>

            
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=onClose(addSkillForm) >Annuler</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="addSkillForm.invalid" >Ajouter</button>
            
        </div>
        </form>
  </div>
</div>

<!-- Delete Skill Modal-->
<div *ngIf = 'selectModal === "deleteSkillModal"'>
  <div class="modal-dialog">
    <div class="modal-content">   
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteSkillModalLabel">Supprimer des compétences</h1>
        </div>
        <div class="list_skill">
            <div *ngFor="let list of skills; let i = index">
                <a type="button" class="btn btn-secondary" (click)="tempSkill(list)">
                    {{list.comp}}
                </a>
            </div>
        </div>
        <div class="list_skill">
          <div *ngFor="let listDelete of tempArray; last as isLast">
              <a type="button" class="btn btn-light">
                {{listDelete.comp}}
                <span *ngIf="!isLast">,&nbsp;</span>
              </a>
          </div>
          <span *ngIf="tempArray.length!==0"> -> à supprimer </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=onCloseDelete() >Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="tempArray.length===0" (click)="deleteSkill()">Supprimer</button>
        </div>
    </div>
  </div>
</div>

<!-- Link Skill to an Employee Modal-->
<div *ngIf = 'selectModal === "linkSkillToEmployee"'>
  
          <h1 >Associer des compétences</h1>

        <div><p>Clicker sur les compétences à associer</p></div>
        <div class="list_skill">
            <div *ngFor="let list of skills">
                <a type="button" class="btn btn-secondary" (click)="tempSkill(list)">
                    {{list.comp}}
                </a>
            </div>
        </div>
        <div class="list_skill">
          <div *ngFor="let listLink of tempArray">
              <a class="btn btn-dark">
                {{listLink.comp}}
              </a>
          </div>
            <span *ngIf="tempArray.length!==0"><a class="btn btn-info"> &#187; À associer </a></span>
        </div>
          <button class="btn btn-secondary" (click)=onCloseLinkSkill() >Annuler</button>
          <button class="btn btn-primary"[disabled]="tempArray.length===0" (click)="linkSkill()">Associer</button>
</div>




